Flask==3.1.0
Flask-Cors==5.0.0
keras==3.8.0
mtcnn==1.0.0
numpy==1.24.3
opencv-python-headless==4.10.0.84  # Use headless to avoid GUI dependencies
pandas==2.2.3
scikit-learn==1.6.0
scipy==1.15.0
tensorflow==2.18.0
requests==2.28.1